
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Przyjęcie urodzinowe</title>
</head>
<body>
    <div> 
        @ViewBag.Greeting, świecie (z widoku)
        <p>
            Zapraszamy na wspaniałe przyjęcie. <br />
            (do zrobienia)
        </p>
        @Html.ActionLink("Wyślij potwierdzenie", "RsvpForm")
    </div>
</body>
</html>
